In [1]:
from database_handler import *
import numpy as np

In [2]:
df=pd.read_json(r"C:\Users\Administrator\Senior-Project\data got\data SP\important\characters.json")

In [3]:
import json
import pandas as pd

file_path = r"C:\Users\Administrator\Senior-Project\data got\data SP\important\characters.json"
with open(file_path, 'r') as file:
    data = json.load(file)
normalized_data = pd.json_normalize(data['characters'])
df = pd.DataFrame(normalized_data)
df_cleaned = df.dropna(subset=['characterImageFull','characterLink' ])
actor_links = list(df_cleaned.characterLink)
ids = [int(link.split('/character/ch')[1].rstrip('/')) for link in actor_links]
df_cleaned['id'] = ids
column_to_move = 'id'
new_position = 0
df_cleaned.insert(new_position, column_to_move, df_cleaned.pop(column_to_move))
connection=create_connection()
query=return_create_statement_from_df(df_cleaned,"characters","character_info")
execute_query(connection,query)
query2=return_insert_into_sql_statement_from_df(df_cleaned,"characters","character_info")
for queryy in query2:
    execute_query(connection,queryy)

         id       characterName          characterLink          actorName  \
2    540081       Aeron Greyjoy  /character/ch0540081/      Michael Feast
3    541362  Aerys II Targaryen  /character/ch0541362/      David Rintoul
4    544520                Akho  /character/ch0544520/         Chuku Modu
5    246938      Alliser Thorne  /character/ch0246938/         Owen Teale
6    305012     Alton Lannister  /character/ch0305012/        Karl Davies
..      ...                 ...                    ...                ...
377  470706    Yezzan zo Qaggaz  /character/ch0470706/       Enzo Cilenti
378  304492             Ygritte  /character/ch0304492/        Rose Leslie
379  524546          Yohn Royce  /character/ch0524546/  Rupert Vansittart
380  251493               Yoren  /character/ch0251493/      Francis Magee
388  540870             Zanrush  /character/ch0540870/   Gerald Lepkowski

            actorLink  houseName royal parents  \
2    /name/nm0269923/    Greyjoy   NaN     NaN
3    /name/nm0727778/  Targaryen  True     NaN
4    /name/nm6729880/        NaN   NaN     NaN
5    /name/nm0853583/        NaN   NaN     NaN
6    /name/nm0203801/  Lannister   NaN     NaN
..                ...        ...   ...     ...
377  /name/nm0162281/        NaN   NaN     NaN
378  /name/nm3310211/        NaN   NaN     NaN
379  /name/nm0889338/        NaN   NaN     NaN
380  /name/nm0535837/        NaN   NaN     NaN
388  /name/nm0503319/        NaN   NaN     NaN

                           siblings           killedBy  ...  \
2    [Balon Greyjoy, Euron Greyjoy]                NaN  ...
3               [Rhaella Targaryen]  [Jaime Lannister]  ...
4                               NaN   [Daario Naharis]  ...
5                               NaN         [Jon Snow]  ...
6                               NaN  [Jaime Lannister]  ...
..                              ...                ...  ...
377                             NaN                NaN  ...
378                             NaN             [Olly]  ...
379                             NaN                NaN  ...
380                             NaN      [Amory Lorch]  ...
388                             NaN                NaN  ...

          marriedEngaged serves kingsguard guardedBy actors guardianOf allies  \
2                    NaN    NaN        NaN       NaN    NaN        NaN    NaN
3    [Rhaella Targaryen]    NaN        NaN       NaN    NaN        NaN    NaN
4                    NaN    NaN        NaN       NaN    NaN        NaN    NaN
5                    NaN    NaN        NaN       NaN    NaN        NaN    NaN
6                    NaN    NaN        NaN       NaN    NaN        NaN    NaN
..                   ...    ...        ...       ...    ...        ...    ...
377                  NaN    NaN        NaN       NaN    NaN        NaN    NaN
378           [Jon Snow]    NaN        NaN       NaN    NaN        NaN    NaN
379                  NaN    NaN        NaN       NaN    NaN        NaN    NaN
380                  NaN    NaN        NaN       NaN    NaN        NaN    NaN
388                  NaN    NaN        NaN       NaN    NaN        NaN    NaN

    abductedBy abducted sibling
2          NaN      NaN     NaN
3          NaN      NaN     NaN
4          NaN      NaN     NaN
5          NaN      NaN     NaN
6          NaN      NaN     NaN
..         ...      ...     ...
377        NaN      NaN     NaN
378        NaN      NaN     NaN
379        NaN      NaN     NaN
380        NaN      NaN     NaN
388        NaN      NaN     NaN

[254 rows x 26 columns]

C:\Users\Administrator\AppData\Local\Temp\ipykernel_8680\3938042581.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['id'] = ids

In [5]:
connection=create_connection()
query=return_create_statement_from_df(df_cleaned,"characters","character_info")
execute_query(connection,query)
query2=return_insert_into_sql_statement_from_df(df_cleaned,"characters","character_info")
for queryy in query2:
    execute_query(connection,queryy)